$buttercup = #f5a623
$white = #ffffff

.navbar--yellow
	background $buttercup

.nav--white, .lang-item > a
	color $white !important
	
.lang-item
	display inline-block
	border solid 1px $white
	padding 5px